container_commands:

  00_makeMigrate:
    command: "python3 manage.py makemigrations"
    leader_only: true

  02_migrateAuth:
    command: "python3 manage.py migrate auth"
    leader_only: true

  03_migrate:
    command: "python3 manage.py migrate"
    leader_only: true

  05_collectStatic:
    command: "python3 manage.py collectstatic --noinput"

packages:
  yum:
    postgresql95-devel: []
